In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
project_root = os.path.dirname(os.getcwd())
models_path = os.path.join(project_root,'models')

results_path = models_path +'/results'

In [4]:
df_cv_temp = pd.read_csv(results_path+ '/resultados_cv_temporales.csv')
df_cv_spec = pd.read_csv(results_path+ '/resultados_cv_espectrales.csv')

In [5]:
df_cv_temp

         Modelo  F1-score  Balanced accuracy
0  RandomForest  0.966538           0.950601
1           KNN  0.986349           0.974795
2           SVM  0.216126           0.166667

In [6]:
df_cv_spec

         Modelo  F1-score  Balanced accuracy
0  RandomForest  0.924271           0.886725
1           KNN  0.920455           0.886171
2           SVM  0.686714           0.615297

In [7]:
df_test_temp = pd.read_csv(results_path+ '/resultados_test_temporales.csv')
df_test_spec = pd.read_csv(results_path+ '/resultados_test_espectrales.csv')

In [8]:
df_test_temp

,Modelo,F1-score,Balanced accuracy,Accuracy,Archivo
0,RandomForest,0.968898,0.950009,0.969406,randomforest_features_temporales.pkl
1,KNN,0.985633,0.968198,0.985723,knn_features_temporales.pkl
2,SVM,0.211171,0.166667,0.381993,svm_features_temporales.pkl

In [9]:
df_test_spec

,Modelo,F1-score,Balanced accuracy,Accuracy,Archivo
0,RandomForest,0.937691,0.903883,0.940268,randomforest_features_espectrales.pkl
1,KNN,0.926737,0.894902,0.928322,knn_features_espectrales.pkl
2,SVM,0.701047,0.626583,0.771562,svm_features_espectrales.pkl